In [1]:
print("This is a statement.")
# this is a comment

for i in range(1, 11):
    if i % 2 == 0:
        print(i, end=' ')

This is a statement.
2 4 6 8 10

### 1. Python 변수
변수(Variable)는 값을 저장하는 그릇이다.Python의 변수는 다음과 같이 선언해 사용할 수 있다. 

`name = 5`

`=` 는 할당 연산자로 오른쪽 값(r_value) 을 왼쪽 값(l_value)에 바인딩 시킨다.

In [2]:
number = 5
string = 'Hello'
real_number = 3.141592

`id()` 함수는 메모리 내 변수의 주소를 리턴하고, `type()` 은 변수의 type을 리턴한다.

In [3]:
print(id(number))
print(type(number))
print(id(string))
print(type(string))

140734092059152
<class 'int'>
808964766128
<class 'str'>

### 2. Python 자료형
1. Numbers : `10` (integer), `10.5` (float), `10L` (long), `1+5j` (complex)
2. String : `'Hello World'`
3. List : `[1, 2, 3]`
4. Tuple : `(1, 2, 3)`
5. Set : `{1, 2, 3}`
6. Dict : `{'name': 'Tony stark', 'age': 49}`
7. Boolean : `True`
8. None : `None`

### 2.1 Numbers Type

In [4]:
i = 123
f = 3.14
e = 1.75E10
print(i, f, e)

123 3.14 17500000000.0

In [5]:
o = 0o123
h = 0x123
print(o, h)

83 291

In [6]:
i = 10
float(i)

10.0

In [7]:
f = 10.123
int(f)

10

In [8]:
a, b = 15, 5
print(a + b, a - b)
print(a * b, a / b)
print(a // b, a % b, a ** b)

20 10
75 3.0
3 0 759375

### 2.2 String type

In [9]:
first = 'Life'
second = 'is fun'
print(first + ' ' + second)

a = 'python'
print(a * 2)

Life is fun
pythonpython

In [10]:
s = 'python is fun'
print(len(s))
print(s[0], s[len(s)-1])

13
p n

Slicing `[start:end:jump]`

In [20]:
s = 'python is fun'
print(s[-1]) # -1 은 가장 뒤에 원소를 나타낸다.
print(s[1:]) # 1번 idx 부터 끝까지
print(s[:3]) # 0번 ~ 2번 까지
print(s[1:3]) # 1번 ~ 2번까지
print(s[::2]) # 0 ~ 끝까지 1개씩 건너 뛰기

n
ython is fun
pyt
yt
pto sfn

In [21]:
s = 'python is fun'
s[1] = 'Y'

TypeError: 'str' object does not support item assignment

In [22]:
s = 'python is fun'
del s[0]

TypeError: 'str' object doesn't support item deletion

In [23]:
s = 'Immutable'
print(id(s))

s += '!!' # s = s+'!!'
print(id(s))

808967536560
808967534256

In [24]:
'I can eat {0} bananas at a time!'.format(10)

'I can eat 10 bananas at a time!'

In [25]:
'I exercise {0} every {1} days.'.format(1, 'three')

'I exercise 1 every three days.'

In [26]:
'I exercise {1} every {0} days.'.format(1, 'three')

'I exercise three every 1 days.'

In [27]:
'I exercise {time} every {day} days.'.format(time=1, 
                                             day='three')

'I exercise 1 every three days.'

In [28]:
"{0:0.4f}".format(3.141592)

'3.1416'

In [29]:
for x in range(1, 5):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64

In [30]:
s = ",".join(['a', 'b', 'c', 'd'])
print(s)

a,b,c,d

In [31]:
l = s.split(',')
print(l)

['a', 'b', 'c', 'd']

In [32]:
s = 'C lang is the best.'.replace('C lang', 'Python')
print(s)

Python is the best.

In [33]:
num = 10
num_to_str = str(num)
print(num_to_str, type(num_to_str))

10 <class 'str'>

In [34]:
s = '10'
str_to_num = int(s)
print(str_to_num, type(str_to_num))

10 <class 'int'>

### 2.3 List 자료형

In [35]:
lists = [1, 2, 3]
print(lists, len(lists))

[1, 2, 3] 3

In [36]:
lists = ['apple', 'bullet', 'car'] + ['dragon', 'fire']
lists

['apple', 'bullet', 'car', 'dragon', 'fire']

In [37]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
lists = [1, 2, 3]
print(lists[0], lists[2])

1 3

In [39]:
lists = [1, 2, 3]
lists[0] = 1.0
lists

[1.0, 2, 3]

In [40]:
lists = [1, 2, 3]
lists.extend([4, 5, 6])
lists

[1, 2, 3, 4, 5, 6]

In [41]:
lists = [1, 2, 3]
lists.append([4, 5, 6])
lists

[1, 2, 3, [4, 5, 6]]

In [42]:
lists = [1, 2, 3, 4]
del lists[3]
lists

[1, 2, 3]

In [43]:
lists = [[1, 2], [3, 4]]
print(lists[0])
print(lists[0][1])

[1, 2]
2

In [44]:
lists = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(lists[0])
print(lists[-1])
print(lists[2:6])
print(lists[:-3])
print(lists[::-1])

1
9
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(lists[1:])

[[4, 5, 6], [7, 8, 9]]

In [46]:
print(lists[1:][1:])

[[7, 8, 9]]

In [47]:
lists = [1, 2, 3]
lists2 = lists # shallow copy
lists3 = lists[::] # deep copy

print('lists: {}'.format(id(lists)))
print('lists2: {}'.format(id(lists2)))
print('lists3: {}'.format(id(lists3)))

lists[0] = 10
print(lists2)
print(lists3)

lists: 808964848968
lists2: 808964848968
lists3: 808967579848
[10, 2, 3]
[1, 2, 3]

### 2.3 Tuple 자료형

In [48]:
tuples = (1, 2, 3)
print(tuples)
print(tuples[0], tuples[1], tuples[2])

(1, 2, 3)
1 2 3

In [49]:
print((1, 2, 3) + (4, 5, 6))
print((1, 2, 3) * 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [50]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple1[0], tuple1[-1])
print(tuple1[3:7])

1 9
(4, 5, 6, 7)

In [51]:
tuples[0] = 5
del tuples[0]

TypeError: 'tuple' object does not support item assignment

### 2.4 Dict 자료형

In [52]:
dicts = {'name':'Tom', 'phone':'01012345678', 'age':27}
print(dicts)

{'name': 'Tom', 'phone': '01012345678', 'age': 27}

In [58]:
dic1 = {[1, 2]: 'array'}

TypeError: unhashable type: 'list'

In [54]:
dicts = {'name':'Tom', 'phone':'01012345678', 'age':27}
print('{key}: {value}'.format(key='name', value=dicts['name']))

name: Tom

In [55]:
print(dicts.values())
print(dicts.keys())

dict_values(['Tom', '01012345678', 27])
dict_keys(['name', 'phone', 'age'])

In [56]:
'name' in dicts

True

In [ ]:
dicts = {1: 'one'}
dicts[2] = 'two'
print(dicts)

dicts[1] = 'One'
print(dicts)

del dicts[1]
print(dicts)

### 3. 제어문과 반복문

### 3.1 제어문(if)

In [ ]:
condition = True
if condition:
    print('Condition is True')
    
else:
    print('Condition is False')

In [ ]:
number = 3
if number == 1:
    print('Number is 1')
elif number == 2:
    print('Number is 2')
else:
    print('Number is not 1 or 2')

In [ ]:
lists = [1, 2, 3]
if 1 in lists:
    print('1 is in lists')
else:
    print('1 is in lists')

### 3.2 반복문(for)

In [ ]:
for i in range(1, 10):
    print(i, end=' ')

In [ ]:
lists = [1, 2, 3]
for i in lists:
    print(i, end=' ')

In [ ]:
lists = []
for i in range(1, 10):
    lists.append(i*i)
lists

In [ ]:
lists = [x*x for x in range(1, 10)]
lists

In [ ]:
lists = [x*x for x in range(1, 10) if x % 2 == 0]
lists

In [ ]:
dicts = {x: chr(x) for x in range(65, 75)}
dicts

In [18]:
dic = {'a': 'apple', 'b': 'bullet'}
for (k, v) in dic.items():
    print('{}: {}'.format(k, v))

a: apple
b: bullet

In [ ]:
scores = [90, 85, 70, 60, 100]
number = 0

for score in scores:
    number += 1
    if score > 75:
        print('{}번 학생 합격입니다.'.format(number))

### 3.3 반복문(while)

In [13]:
a = 0
while a <10:
    a += 1
    if a % 2 != 0:
        continue
    print(a, end=' ')

2 4 6 8 10

In [14]:
a = 10
while True:
    a *= 2
    if a > 100:
        break
    print(a, end=' ')

20 40 80

### 4. 함수(def)

In [15]:
a, b = 3, 4

def add(num1, num2):
    ret = num1 + num2
    return ret

result = add(a, b)
print(result)

7

In [16]:
def my_print(str1, str2, str3='!!'):
    print('{} : {} {}'.format(str1, str2, str3))
    
my_print(str2='Ha-Ha', str1='Nelson')
my_print('Nelson', 'Ha-Ha', 'Ho-Ha!')

Nelson : Ha-Ha !!
Nelson : Ha-Ha Ho-Ha!

In [60]:
a, b = 3, 4
def add(num1, num2):
    ret = num1 + num2
    return ret

result = add(a, b)


print(result) # ok

print(num1, num2) # error
print(ret) # error

7

NameError: name 'num1' is not defined